body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #0b0c10;
  color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #66fcf1;
}

.personajes {
  margin-top: 30px;
}

button {
  background: #45a29e;
  color: white;
  border: none;
  padding: 15px 25px;
  margin: 10px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1f2833;
}

.seccion {
  display: none; /* Oculto por defecto */
  margin-top: 20px;
}

.visible {
  display: block; /* Se muestra cuando se activa */
}

a {
  display: inline-block;
  margin-top: 20px;
  color: #66fcf1;
  text-decoration: none;
}
